/* Common */
@import "~minireset.css/minireset.sass";
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600&subset=latin-ext");
@import "~slick-carousel/slick/slick.css";
@import "styles/variables";

/* Components */
@import "styles/about-team";
@import "styles/team-member";
@import "styles/slider";

html {
  width: 100%;
  height: 100%;
}

.app {
  min-height: 100%;
  background-image: url("/assets/bg.png");
  font-family: $main-font;
  font-size: $main-font-size;
  line-height: $main-line-height;
}

.container {
  padding: $gutter;
  margin: 0 auto;
  max-width: 1280px;
}
