/* Variables */
$minsk: #452e76;
$scooter: #42c2dd;
$gray: #808080;

$light: 300;
$regular: 400;
$semibold: 600;

$gutter: 20px;
$main-font: 'Open Sans', sans-serif;
$main-font-size: 14px;
$main-line-height: 1.2;

$cubic: cubic-bezier(.57,.21,.69,1.25)